@model CookBook.BuisnesLogic.DTO.ChangePasswordDto

@{
    ViewData["Title"] = "ChangePassword";
}

<head>
    <style>
        .dl-horizontal {
            display: flex;
            flex-wrap: wrap;
        }

            .dl-horizontal dt,
            .dl-horizontal dd {
                flex: 0 0 auto;
                margin-right: 10px;
            }

            .dl-horizontal dt {
                width: 20%; /* Width of the term */
                margin-bottom: 10px; /* Space between rows */
            }

            .dl-horizontal dd {
                width: 75%; /* Width of the description */
                margin-bottom: 10px; /* Space between rows */
            }
    </style>
</head>
<h1>Zmiana hasła przez administratora</h1>

<hr />

<div class="container">
    <div class="row justify-content-center">
        <dl class="dl-horizontal">
            <dt class="col-sm-4">
                @Html.DisplayNameFor(model => model.Id)
            </dt>
            <dd class="col-sm-14">
                @Html.DisplayFor(model => model.Id)
            </dd>
            <dt class="col-sm-4">
                @Html.DisplayNameFor(model => model.UserName)
            </dt>
            <dd class="col-sm-14">
                @Html.DisplayFor(model => model.UserName)
            </dd>
            <dt class="col-sm-4">
                @Html.DisplayNameFor(model => model.Email)
            </dt>
            <dd class="col-sm-14">
                @Html.DisplayFor(model => model.Email)
            </dd>
            <dt class="col-sm-4">
                @Html.DisplayNameFor(model => model.Role)
            </dt>
            <dd class="col-sm-14">
                @Html.DisplayFor(model => model.Role)
            </dd>
        </dl>
    </div>
</div>

<div class="container">
    <div class="row justify-content-center">
        <div class="col-md-4">
            <form asp-action="ChangePassword" method="post">
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            
                <div class="form-group">
                    <label asp-for="NewPassword" class="control-label"></label>
                    <input asp-for="NewPassword" class="form-control" />
                    <span asp-validation-for="NewPassword" class="text-danger"></span>
                </div>
            
                <div class="form-group">
                    <label asp-for="ConfirmPassword" class="control-label"></label>
                    <input asp-for="ConfirmPassword" class="form-control" />
                    <span asp-validation-for="ConfirmPassword" class="text-danger"></span>
                </div>
            
                <button type="submit" class="btn btn-primary">Zmień hasło</button>
            </form>
        </div>
    </div>
</div>

<div class="text-center">
    <a asp-action="Index" class="btn btn-secondary">Powrót</a>
</div>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}
