@using Database.EnumTypes
@model CookBook.BuisnesLogic.DTO.MealDayDTO

@{
    var enumSelectList = new SelectList(Enum.GetValues(typeof(MealType)));
    var user = User.Identity.Name;
    var userId = ViewBag.UserCookBook;
    
    ViewData["Title"] = "Create";
}
<script>
    var recipeId;
    function changeVariable(value) {
        recipeId = value;
        document.getElementById("var_recipeDetailsId").value = recipeId;
    }
</script>


<h1 class="text-center">Utwórz dla <strong>@user</strong> </h1>
<h4 class="text-center">MealDay</h4>
<hr />



<div class="container ">
    <div class="row  ">
        <div class="col-8 text-center ">
            <ul class="pagination justify-content-center">
                <li class="page-item" class="active"><a asp-action="Create" asp-route-p="1" class="page-link">1</a></li>
                <li class="page-item"><a asp-action="Create" asp-route-p="2" class="page-link">2</a></li>
                <li class="page-item"><a asp-action="Create" asp-route-p="3" class="page-link">3</a></li>
                <li class="page-item"><a asp-action="Create" asp-route-p="4" class="page-link">4</a></li>
                <li class="page-item"><a asp-action="Create" asp-route-p="5" class="page-link">5</a></li>
            </ul>
                @foreach (var item in Model.DetailsShort)
                {
                <div class="col-md-3 float-left p-2 m-1 border border-dark" style=" height: 230px">
                    <button onclick="changeVariable(@item.Id)" class="btn-check bg-warning text-center" style="width: 100%">Wybierz<strong> @item.Id</strong></button>

                        <a href="@Url.Action("Details", "Recipes", new { @id = item.Id })">
                        @if (!string.IsNullOrEmpty(@item.ImagePath))
                        {
                            <img src="@item.ImagePath" class="figure-img img-fluid rounded" style="max-width: 100% " alt="@item.Name">
                        }
                        else
                            {
                            <img src="~/img/recipes/null.png" class="figure-img img-fluid rounded" style="max-width: 100% " alt="nie znaleziono: @item.Name">
                            } 
                            <figcaption class="text-center">@item.Name</figcaption>
                        </a>
                </div>
                }
        </div>

        <div class="col-4 p-2">
            <form asp-action="Create">
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                <div class="form-group">
                    <label asp-for="Day" asp-format="{0:yyyy/MM/dd HH:mm}" class="control-label">Data planowanego jedzonka</label>
                    <input asp-for="Day" asp-format="{0:yyyy/MM/dd HH:mm}" class="form-control" />
                    <span asp-validation-for="@Model.Day" asp-format="{0:yyyy/MM/dd HH:mm}" class="text-danger"></span>
                </div>

                <div class="form-group">
                    <label asp-for="PartOfDay" class="control-label">Rodzaj posiłku</label>
                    <select asp-for="PartOfDay" asp-items="enumSelectList" class="form-control">
                        <option value="">-- Wybierz z listy --</option>
                    </select>
                    <span asp-validation-for="PartOfDay" class="text-danger"></span>
                </div>

                <div class="form-group">
                    <label hidden asp-for="@user" class="control-label"></label>
                    <input hidden asp-for="@Model.UserCookBookId" value="@userId" class="form-control" />
                    <span asp-validation-for="@Model.UserCookBookId" class="text-danger"></span>
                </div>

                <div class="form-group">
                    <label asp-for="RecipeDetailsId" class="control-label">Wybrane żarełko to: </label>
                    <input asp-for="RecipeDetailsId" id="var_recipeDetailsId" class="bg-transparent border-0 form-control-color" readonly />
                    <span asp-validation-for="@Model.RecipeDetailsId" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <input type="submit" value="Create" class="btn btn-primary bg-warning" />
                </div>
            </form>
        </div>
    </div>
</div>
<div class="text-center">
    <a asp-action="Index">Back to List</a>
</div>



@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}
