@using Database.EnumTypes
@model CookBook.BuisnesLogic.DTO.MealDayDTO



@{
    ViewData["Title"] = "Create";
    Layout = "~/Views/Shared/_Layout.cshtml";

    var userId = ViewBag.UserCookBook;
    var user = User.Identity.Name;
    var addDate = DateTime.Now;
    var enumSelectList = new SelectList(Enum.GetValues(typeof(MealType)));
    
}

<h1 class="text-center">Create dla @user</h1>

<h4 class ="text-center">MealDay</h4>
<hr />
<div class="row">
    <div class ="col-4 p-2"></div>
    <div class="col-4 offset-2 p-2">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Day" asp-format="{0:yyyy/MM/dd HH:mm}" class="control-label"></label>
                <input asp-for="Day" asp-format="{0:yyyy/MM/dd HH:mm}" class="form-control" />
                <span asp-validation-for="@Model.Day" asp-format="{0:yyyy/MM/dd HH:mm}" class="text-danger"></span>
            </div>
            @* <div class="form-group">
                <label asp-for="@Model.AddDate" asp-format="{0:yyyy/MM/dd HH:mm}" class="control-label"></label>
                <input asp-for="AddDate" value="@addDate" asp-format="{0:yyyy/MM/dd HH:mm}" class="form-control" />
                <span asp-validation-for="@Model.AddDate" asp-format="{0:yyyy/MM/dd HH:mm}" class="text-danger"></span>
            </div> *@
            <div class="form-group">
                <label asp-for="PartOfDay" class="control-label">Typ składnika</label>
                <select asp-for="PartOfDay" asp-items="enumSelectList" class="form-control">
                    <option value="">-- Wybierz z listy --</option>
                </select>
                <span asp-validation-for="PartOfDay" class="text-danger"></span>
            
            </div>
                <div class="form-group">
                <label hidden asp-for="@user"  class="control-label"></label>
                <input hidden asp-for="@Model.UserCookBookId"  value="@userId" class="form-control" />
                <span asp-validation-for="@Model.UserCookBookId"  class="text-danger"></span>
            </div>

 @*        <div class="form-group">
                <label asp-for="@user" class="control-label"></label>
                <select asp-for="@user" class="form-control" asp-items="@ViewBag.UserCookBookId"></select>
            </div>  *@
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary bg-warning" />
            </div>
        </form>
    </div>
</div>
@* @{
    var dynamic = ViewBag.UserCookBookId;
    foreach(var item in dynamic)
    {
        @Html.DisplayFor(value => item);
        
    }

}
 *@
<div class="text-center">
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
