@model IEnumerable<CookBook.BuisnesLogic.DTO.MealDayViewDTO>

@{
    var title = User.Identity.Name.ToString();

    var ativeDay = (int)(TempData["selectday"] ?? DateTime.Now.Day);

    var month = new List<string> {  "Styczeń", "Luty", "Marzec", 
                                    "Kwiecień", "Maj", "Czerwiec", 
                                    "Lipiec", "Sierpień", "Wrzesień", 
                                    "Październik", "Listopad", "Grudzień" };
    var monthDays = new List<int>  {
                                    31,29,31,30,31,30,31,31,30,31,30,31 };

    var actualMonth = month[DateTime.Now.Month - 1];
    var selectMonth = DateTime.Now.Month;
    var actualYear = DateTime.Now.Year;

    DateTime firstDayOfMonth = new DateTime(actualYear, selectMonth, 1);
    var dayOfWeek = (int)firstDayOfMonth.DayOfWeek;

    //////////////////////////////////////////////////////////////////////////////////////////////////////
    var Calories = 0;

    ViewData["Title"] = @title;
    Layout = "~/Views/Shared/_LayoutMealDay.cshtml";

}

<h1 class="text-center"><br /></h1>

<p class="text-center">
    <a asp-action="Create">Create New</a>
</p>

<div class="row">
    @* Kalendarz *@
    <div class="col-md-4 float-left p-2">
      
        <div class="month">
            <ul>
                <li class="prev">❮</li>
                <li class="next">❯</li>
                <li>@actualMonth<br><span style="font-size: 18px;">@actualYear</span></li>
            </ul>
        </div>
        <div>
        <ul class="weekdays">
            <li>Mo</li>
            <li>Tu</li>
            <li>We</li>
            <li>Th</li>
            <li>Fr</li>
            <li>Sa</li>
            <li>Su</li>
        </ul>
        </div>
        <div>
            <ul class="days" >
                @{
                    for (int j = 0; j < dayOfWeek-1; j++)
                    {
                        <li> </li>
                    }
                    for (int i = 1 ; i <= monthDays[DateTime.Now.Month - 1]; i++)
                    {
                      
                            if (i == @ativeDay)
                            {
                            <li><a asp-area="" asp-controller="MealDays" asp-action="Index" asp-route-selectday="@i"><span class="active">@i </span></a></li>
                            }
                            else
                            {
                            <li><a asp-area="" asp-controller="MealDays" asp-action="Index" asp-route-selectday="@i"><span>@i</span></a></li>
                            }
                    }
            }
        </ul>
        </div>
        <p></p>
        <p class="text-center"><a asp-area="" asp-controller="MealDays" asp-action="Index">Pokaż wszystkie zaplanowane dni</a></p>
    </div>

    <div class="col-md-8 p-2">
        <table class="table">
            <thead>
                <tr>
                    <th>
                        @Html.DisplayNameFor(model => model.DayMeal)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.RecipeMeal)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.RecipeName)
                    </th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model)
                {
                   
                    <tr>
                        <td>
                            @Html.DisplayFor(modelItem => item.DayMeal)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.RecipeMeal)
                        </td>
                        <td>
                            <a href="@Url.Action("Details", "Recipes", new { @id = item.RecipeUsedId })">  @Html.DisplayFor(modelItem => item.RecipeName)</a>
                        </td>
                        <td>
                            @* <a asp-action="Edit" asp-route-id="@item.MealDayId">Edit</a> |
                            <a asp-action="Details" asp-route-id="@item.MealDayId">Details</a> | *@
                            <a asp-action="Delete" asp-route-id="@item.MealDayId">Delete</a>
                        </td>
                    </tr>

                    Calories  += (int)(item.MealDayId);
                }
            </tbody>
        </table>
        @if (Calories > 0)
        {
            <div class="text-left">
                <p>Wybrane potrawy mają wartość energetyczną<span class="bg-warning p-2"><strong> @Calories </strong> kcal </span></p>
            </div>
        }
    </div>
</div>
    <h4 class="text-center">Warto przemyleć, a jeszcze lepiej spróbować.</h4>
    <div class="col-12 text-justify">
    <p>
        1 minuta stosunku spala około 40 kcal w przypadku obu płci. Emocjonująca, długa gra wstępna to około 50 kcal na minutę, jeżeli włączymy w nią namiętne pocałunki. Są to wartości uśrednione, które zwiększają się wraz ze wzrostem intensywności odczuwanych doznań.
    </p>
    <p>
        Orgazm to kolejne kilkadziesiąt kalorii – średnio 60-100; w przypadku korzystania z gadżetów erotycznych możemy spalić dodatkowe kilkadziesiąt kalorii. Poniżej prezentujemy najbardziej odchudzające pozycje seksualne.</br>
    </p>
        <ol >
            <li>
                Pozycja, w której leżąca na plecach kobieta zakłada nogi na ramiona klęczącego mężczyzny</br>
                Jest to zdecydowanie najbardziej odchudzająca i jednocześnie angażująca obie płcie pozycja seksualna, która pozwala spalić około 70 kcal w ciągu minuty współżycia. Jeszcze lepszy wynik spalania kalorii można uzyskać, kiedy zwiększymy tempo współżycia.
            </li>
            <li>
                Pozycja na jeźdźca</br>
                W tym przypadku lepsze efekty odchudzające zauważą kobiety, bo to one spalają około 60 kcal na minutę; mężczyzna podczas seksu w pozycji na jeźdźca spala około 45 kcal.
            </li>
            <li>
                Pozycje na stojąco</br>
                Seks na stojąco angażuje wiele partii mięśniowych, więc daje też dobre efekty odchudzające. Średnio w czasie seksu na stojąco można spalić 50-60 kcal.
            </li>
        </ol>
    </div>
           
