@model IEnumerable<Database.Entities.MealDay>

@{
    var title = User.Identity.Name.ToString();
    ViewData["Title"] = @title;
    Layout = "~/Views/Shared/_Layout.cshtml";
    //var item1 = Model.All(x => x.UserCookBook.UserName == User.Identity.Name);
}

<h1 class ="text-center">@title: planowane posiłki</h1>

<p class="text-center">
    <a asp-action="Create">Create New</a>
</p>
<p>
  
</p>
<div class="row"> 
    <divclass ="col-2 p-2"></divclass>
    <div class="col-6 offset-4 p-2">
        <table class="table">
            <thead>
                <tr>
                    <th>
                        @Html.DisplayNameFor(model => model.Day)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.AddDate)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.UserCookBook)
                    </th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
        @foreach (var item in Model) {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.Day)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.AddDate)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.UserCookBook.Email)
                    </td>
                    <td>
                        <a asp-action="Edit" asp-route-id="@item.Id">Edit</a> |
                        <a asp-action="Details" asp-route-id="@item.Id">Details</a> |
                        <a asp-action="Delete" asp-route-id="@item.Id">Delete</a>
                    </td>
                </tr>
        }
            </tbody>
        </table>
    </div>
</div>