@model IEnumerable<CookBook.BuisnesLogic.DTO.MealDayViewDTO>

@{
    var title = User.Identity.Name.ToString();
    
    var ativeDay = (int)(TempData["selectday"] ?? DateTime.Now.Day);

    var month = new List<string> {  "Styczeń", "Luty", "Marzec", 
                                    "Kwiecień", "Maj", "Czerwiec", 
                                    "Lipiec", "Sierpień", "Wrzesień", 
                                    "Październik", "Listopad", "Grudzień" };
    var monthDays = new List<int>  {
                                    31,29,31,30,31,30,31,31,30,31,30,31 };

    var actualMonth = month[DateTime.Now.Month - 1];
    var selectMonth = DateTime.Now.Month;
    var actualYear = DateTime.Now.Year;

    DateTime firstDayOfMonth = new DateTime(actualYear, selectMonth, 1);
    var dayOfWeek = (int)firstDayOfMonth.DayOfWeek;


    ViewData["Title"] = @title;
    Layout = "~/Views/Shared/_Layout.cshtml";
    //var item1 = Model.All(x => x.UserCookBook.UserName == User.Identity.Name);
}

<h1 class="text-center">@title: planowane posiłki</h1>

<p class="text-center">
    <a asp-action="Create">Create New</a>
</p>

<div class="row">
    @* Kalendarz *@
    <div class="col-4 float-left p-2">
      
        <div class="month">
            <ul>
                <li class="prev">❮</li>
                <li class="next">❯</li>
                <li>@actualMonth<br><span style="font-size: 18px;">@actualYear</span></li>
            </ul>
        </div>
        <div>
        <ul class="weekdays">
            <li>Mo</li>
            <li>Tu</li>
            <li>We</li>
            <li>Th</li>
            <li>Fr</li>
            <li>Sa</li>
            <li>Su</li>
        </ul>
        </div>
        <div>
            <ul class="days" >
                @{
                    for (int j = 0; j < dayOfWeek-1; j++)
                    {
                        <li> </li>
                    }
                    for (int i = 1 ; i <= monthDays[DateTime.Now.Month - 1]; i++)
                    {
                      
                            if (i == @ativeDay)
                            {
                            <li><a asp-area="" asp-controller="MealDays" asp-action="Index" asp-route-selectday="@i"><span class="active">@i </span></a></li>
                            }
                            else
                            {
                            <li><a asp-area="" asp-controller="MealDays" asp-action="Index" asp-route-selectday="@i"><span>@i</span></a></li>
                            }
                    }
            }
        </ul>
        </div>
    </div>

    <div class="col-8 p-2">
        <table class="table">
            <thead>
                <tr>
                    <th>
                        @Html.DisplayNameFor(model => model.DayMeal)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.RecipeMeal)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.RecipeName)
                    </th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model)
                {
                    <tr>
                        <td>
                            @Html.DisplayFor(modelItem => item.DayMeal)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.RecipeMeal)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.RecipeName)
                        </td>
                        <td>
                            <a asp-action="Edit" asp-route-id="@item.MealDayId">Edit</a> |
                            <a asp-action="Details" asp-route-id="@item.MealDayId">Details</a> |
                            <a asp-action="Delete" asp-route-id="@item.MealDayId">Delete</a>
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
</div>