@model CookBook.BuisnesLogic.DTO.IngredientDetailedDTO

@{
    ViewData["Title"] = "Delete";
}

<h1 class="text-center">@ViewData["Title"]</h1>

<div class="container">
    <div class="row justify-content-center">
        <div class="col-md-6">
            <h3 class="text-center">Czy na pewno chcesz usunąć ten składnik?</h3>
            <hr />
            <dl class="row">
                <dt class="col-sm-3">Nazwa:</dt>
                <dd class="col-sm-9">@Html.DisplayFor(model => model.Name)</dd>

                <dt class="col-sm-3">Typ:</dt>
                <dd class="col-sm-9">@Html.DisplayFor(model => model.Type)</dd>

                <dt class="col-sm-3">Kalorie:</dt>
                <dd class="col-sm-9">@Html.DisplayFor(model => model.Calories)</dd>

                <dt class="col-sm-3">Białka:</dt>
                <dd class="col-sm-9">@Html.DisplayFor(model => model.Proteins)</dd>

                <dt class="col-sm-3">Tłuszcze:</dt>
                <dd class="col-sm-9">@Html.DisplayFor(model => model.Fats)</dd>

                <dt class="col-sm-3">Węglowodany:</dt>
                <dd class="col-sm-9">@Html.DisplayFor(model => model.Carbohydrates)</dd>
            </dl>

            <form asp-action="Delete" asp-route-name="@Model.Name" method="post">
                <div class="text-center">
                    <input type="submit" value="Usuń" class="btn btn-danger" />
                    <a asp-action="Index" class="btn btn-secondary ml-2">Powrót</a>
                </div>
            </form>
        </div>
    </div>
</div>