@model CookBook.BuisnesLogic.DTO.IngredientDetailedDTO;

@{
    ViewData["Title"] = "Szczegółowe informacje";
}

<head>
    <style>
        .btn {
            color: black;
            background: #FFC107;
        }
            .btn:hover {
                color: black;
                background: orange;
            }
    </style>
</head>

<h1 class="col-12 text-center bg-transparent">@ViewData["Title"]</h1>

<div class="container">
    <div class="row justify-content-center">
        <div class="col-md-6">
            <div class="card p-3 shadow">
                <div class="text-center mb-3">
                    <img src="@Model.ImagePath" height="100" width="100" class="rounded-circle" />
                </div>
                <dl class="row border-top border-bottom">
                    <dt class="col-sm-4">Nazwa:</dt>
                    <dd class="col-sm-8">@Html.DisplayFor(model => model.Name)</dd>

                    <dt class="col-sm-4">Opis:</dt>
                    <dd class="col-sm-8">@Html.DisplayFor(model => model.Description)</dd>

                    <dt class="col-sm-4">Typ:</dt>
                    <dd class="col-sm-8">@Html.DisplayFor(model => model.Type)</dd>

                    <dt class="col-sm-4">Kalorie:</dt>
                    <dd class="col-sm-8">@Html.DisplayFor(model => model.Calories)</dd>

                    <dt class="col-sm-4">Białka:</dt>
                    <dd class="col-sm-8">@Html.DisplayFor(model => model.Proteins)</dd>

                    <dt class="col-sm-4">Tłuszcze:</dt>
                    <dd class="col-sm-8">@Html.DisplayFor(model => model.Fats)</dd>

                    <dt class="col-sm-4">Węglowodany:</dt>
                    <dd class="col-sm-8">@Html.DisplayFor(model => model.Carbohydrates)</dd>

                    <dt class="col-sm-4">Indeks Glikemiczny:</dt>
                    <dd class="col-sm-8">@Html.DisplayFor(model => model.GI)</dd>
                </dl>
                <div class="text-center mt-3">
                    <form class="mx-2" asp-action="Index" method="get">
                        <input type="hidden" name="type" value="@ViewBag.Type"/>
                        <button type="submit" class="btn btn-primary">Powrót</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>